#canvas{
    width: 600px;
    padding: 200px 20px;
    text-align: center;
    border: 2px solid aqua;
}
span{
    background-color: red;
    padding: 0 10px 0 10px;
    margin-top: 20px;
}
.availabel span{
    background-color: green;
}

.nearby span:after{
    content : "nearby";
    margin-left: 10px;
}

#bag{
    width: 200px;
    height: 500px;
    background: url(img/bag.png) center no-repeat;
    margin: 0 auto;
}
#bag.burst{
    background: url(img/bag-burst.png) center no-repeat;
    margin: 0 auto;
}
#bagHealth{
    width: 200px;
    border: 2px solid #000;
    margin: 0 auto 20px auto;
}
#bagHealth div{
    height: 20px;
    background-color: crimson;
}
#controls{
    width: 160px;
    margin: 0 auto;
}