<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Component</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
</head>
<body>
    <div id="v-app-one">
        <greet></greet>
        <input type="text" ref="input">
    <button v-on:click="show()">submit</button>
    <p>your fav food: {{ food }}</p>
    </div>
    <div id="v-app-two">
        <greet></greet>
    </div>

    
    <script src="comp.js"></script>
</body>
</html>